BasedOnStyle: Microsoft

IndentWidth: 2
MaxEmptyLinesToKeep: 2
ColumnLimit: 100
InsertNewlineAtEOF: true

PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Inline

BinPackArguments: false
BinPackParameters: false

Cpp11BracedListStyle: true
AlignAfterOpenBracket: AlwaysBreak
ContinuationIndentWidth: 2
BracedInitializerIndentWidth: 2
InsertTrailingCommas: Wrapped
AlignOperands: DontAlign
AlwaysBreakTemplateDeclarations: true

BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 2

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '<CoreMinimal.h>'
    Priority: 1
  - Regex: '<.*>'
    Priority: 2
  - Regex: '"CoreMinimal.h"'
    Priority: 3
  - Regex: '"(?!.*.generated.h).*"'
    Priority: 4
  - Regex: '"[a-zA-Z0-9\/\_\\\-]*.h"'
    Priority: 5
  - Regex: '"[a-zA-Z0-9\/\_\\]*.generated.h"'
    Priority: 8
  - Regex: 'UE_INLINE_GENERATED_CPP_BY_NAME.*\)'
    Priority: 9